html, body {
    background-color: black;
    background: linear-gradient(90deg, #000000 0%, #110218 50%, #000000 100%);
}
#instructions {
    position: absolute;
    right: 15%;
    top: 20%;
    background: radial-gradient(circle, #661b2c 0%, #0d0113 100%);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    text-shadow: 0 0 5px rgb(236, 174, 203), 0 0 10px #af204b, 0 0 20px #550a1f;
}
#instructions .fas {
    margin: 5px;
}
.drumpad {
    margin: auto;
    width: fit-content;
    padding-top: 60px;
    min-width: max-content;
}
.drumpad div {
    display: inline;
}
.drumpad button {
    padding: 75px;
    margin: 6px 4px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    transition-duration: .4s;
}
#beats button {
    background: radial-gradient(circle, #355eb4 0%, #0d0113  100%);
    border-color: #356ef3;
    border-top-color: #92aeee;
    border-bottom-color: #173986;
}
#beats button:hover {
    background: radial-gradient(circle, #3474ff 10%, #0d0113  100%);
    box-shadow: 0 0 5px rgb(174, 188, 236), 0 0 10px #2057af, 0 0 20px #0f1c91;
}
#beats button:active {
    background: radial-gradient(circle, #3474ff 0%, #0d0113  90%);
}
#notes button {
    background: radial-gradient(circle, #a1344f 0%, #0d0113  100%);
    border-color: #eb4b78;
    border-top-color: #e785a1;
    border-bottom-color: #850a2d;
}
#notes button:hover {
    background: radial-gradient(circle, #ec3865 10%, #0d0113  100%);
    box-shadow: 0 0 5px rgb(236, 174, 203), 0 0 10px #af204b, 0 0 20px #7e0c49;
}
#notes button:active {
    background: radial-gradient(circle, #ec3865 0%, #0d0113  100%);
}
#laughs button {
    background: radial-gradient(circle, #ac8d39 0%, #130801  90%);
    border-color: #f3a354;
    border-top-color: #ebd3a0;
    border-bottom-color: #a74b00;
}
#laughs button:hover {
    background: radial-gradient(circle, #e6b633 10%, #130801  100%);
    box-shadow: 0 0 5px rgb(251, 236, 195), 0 0 10px rgb(179, 152, 32), 0 0 20px #7e4d0c;
}
#laughs button:active {
    background: radial-gradient(circle, #e6b633 0%, #130801  90%);
}
.drumpad img {
    display: block;
    margin: auto;
    margin-top: 20px;
}
#nav {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%);
    font-size: 70px;
    color: white;
    transition-duration: .3s;
    
}
#nav .fas {
    margin: 10px;
    text-shadow: 0 0 15px rgb(236, 174, 203), 0 0 30px #af204b, 0 0 40px #550a1f;
}
#nav .fas:hover {
    transform: scale(1.05);
}
#nav .fas:active {
    transform: scale(0.99);
}
/* #navblur {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%);
    font-size: 70px;
    color: #972b44;
    transition-duration: .3s;
}
#navblur .fas {
    margin: 10px;
    filter: blur(8px);
} */