html, body {
    background-color: black;
}
#instructions {
    position: absolute;
    right: 15%;
    top: 20%;
    background: radial-gradient(circle, rgb(143, 49, 73) 0%, rgb(3, 8, 14) 100%);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}
#instructions .fas {
    margin: 5px;
}
.drumpad {
    margin: auto;
    width: fit-content;
    padding-top: 60px;
    min-width: max-content;
}
.drumpad div {
    display: inline;
}
.drumpad button {
    padding: 75px;
    margin: 6px 4px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    transition-duration: .9s;
}
#beats button {
    background: radial-gradient(circle, rgb(53, 94, 180) 0%, rgb(3, 8, 14) 100%);
    border-color: #356ef3;
    border-top-color: #92aeee;
    border-bottom-color: #173986;
}
#beats button:hover {
    background: radial-gradient(circle, rgb(52, 116, 255) 10%, rgb(3, 8, 14) 100%);
}
#beats button:active {
    background: radial-gradient(circle, rgb(52, 116, 255) 0%, rgb(3, 8, 14) 90%);
}
#notes button {
    background: radial-gradient(circle, rgb(161, 52, 79) 0%, rgb(3, 8, 14) 100%);
    border-color: #eb4b78;
    border-top-color: #e785a1;
    border-bottom-color: #850a2d;
}
#notes button:hover {
    background: radial-gradient(circle, rgb(236, 56, 101) 10%, rgb(3, 8, 14) 100%);
}
#notes button:active {
    background: radial-gradient(circle, rgb(236, 56, 101) 0%, rgb(3, 8, 14) 100%);
}
#laughs button {
    background: radial-gradient(circle, rgb(172, 141, 57) 0%, rgb(3, 8, 14) 90%);
    border-color: #f3a354;
    border-top-color: #ebd3a0;
    border-bottom-color: #a74b00;
}
#laughs button:hover {
    background: radial-gradient(circle, rgb(230, 182, 51) 10%, rgb(3, 8, 14) 100%);
}
#laughs button:active {
    background: radial-gradient(circle, rgb(230, 182, 51) 0%, rgb(3, 8, 14) 90%);
}
.drumpad img {
    display: block;
    margin: auto;
    margin-top: 20px;
}
#nav {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%);
    font-size: 70px;
    color: white;
    transition-duration: .3s;
}
#nav .fas {
    margin: 10px;
}
#nav .fas:hover {
    transform: scale(1.05);
}
#nav .fas:active {
    transform: scale(0.99);
}