html {
    text-align: center;
}
#info {
    background-color: cadetblue;
    width: fit-content;
}
#field {
    margin-top: 20px;
}
#field div {
    background-color: blueviolet;
    width: 73px; height: 73px;
    border: 2px solid black;
    display: inline-block;
    margin-top: -4px;
}
.fas, .far {
    font-size: 50px;
    margin: none;
    padding: none;
}