.background {
    background-image: url('../03-Portfolio/Bilder/bg.png');
    background-repeat: repeat;
    background-size: 30px;
}
.content {
    margin: auto;
    margin-top: -110px;
    width: 800px;
}
.header {
    background-color:#174375;
    height: 430px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
    text-align: center;
    
}
.headlines {
    color: ivory;
    font-size: 150px;
    font-family: 'Lobster Two', 'Berskhire Swash', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    padding-right: 90px;
}
#header-box {
    margin-top: -150px;
    width: fit-content;
    float: right;
    padding-right: 50px;
}
.headline-text {
    color: ivory;
    font-size: 40px;
    font-family: 'Merienda';
    text-decoration: underline;
    padding-right: 50px;
}
.socials-box {
    width: fit-content;
    margin-top: -30px;
}
.socials {
    opacity: 50%;
    transition-duration: 0.4s;
}
.socials:hover {
    opacity: 100%;
}
.main {
    margin-top: 80px;
}
h2 {
    color: #174375;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
}
h3 {
    color: #174375;
    font-size: 30px;
    font-family: sans-serif;
}
.text {
    color: #174375;
    font-size: 23px;
    font-family: sans-serif;
}
.pictures {
    padding: 2% 2% 2% 2%;
    background-color:#1b539c85;
    border-radius: 20px;
}
#navbar {
    background-color: #174375;
}
#navbar button {
    background-color: #174375;
    color: ivory;
    padding: 2% 6%;
    margin: 20px;
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    border-radius: 20px;
    border: 2px solid #174375;
    transition-duration: 0.4s;
}
#navbar button:hover {
    background-color: ivory;
    color: #174375;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.image {
    width: 24%;
}
a {
    color: #174375;
}
video {
    width: 49%;
}
#profilbild {
    float: right;
}
.contact-form {
    width: fit-content;
    padding: 20px 20px;
    background-color: #1b539c85;
    border-radius: 20px;
}
.form-text {
    width: 200px; height: 20px;
    font-size: 20px;
    margin: 0.5em;
}
textarea {
    width: 300px; height: 50px;
    font-size: 20px;
    margin: 0.5em;
}
.form-button {
    background-color: ivory;
    color: #174375;
    padding: 0.5em 2em;
    margin: 0.5em;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    border-radius: 20px;
    border: 2px solid #174375;
    transition-duration: 0.4s;
}
.form-button:hover {
    background-color: #174375;
    color: ivory;
}
